nav {
    overflow: hidden;
    background-color: #0085ff;
    position: relative;

    & a {
        color: #fff;
    }

    .bars {
        position: absolute;
        top: 50px;
        right: 40px;
        color: #fff;
    }

    & .container {
        max-width: 1170px;
        margin: 0 auto;
    }

    & .nav_con {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .logo {
            a {
                text-decoration: none;
                font-weight: bold;
            }
        }

        & ul {
            display: flex;
            list-style: none;

            & li {
                margin: 0 35px;

                & a {
                    text-decoration: none;
                }
            }
        }

        & .button {
            background-color: #fff;
            width: 100px;
            height: 35px;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;
            cursor: pointer;

            &:hover {
                box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
            }

            & a {
                color: #000;
                text-decoration: none;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .nav_con {
        flex-direction: column;
        height: auto !important;
        margin: 50px 0 30px 40px;
        align-items: start !important;

        & ul, .button {
            display: none !important;
        }
    }

    & .mobile_menu {
        list-style: none;

        & li {
            margin: 25px 40px;
            & a {
                text-decoration: none;
            }
        }
    }

    & .mobile_button {
        background-color: #fff;
        width: 100px;
        height: 35px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        cursor: pointer;
        margin-left: 40px;
        margin-bottom: 20px;

        &:hover {
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
        }

        & a {
            color: #000;
            text-decoration: none;
        }
    }
}

@media screen and (min-width: 481px) {
    .mobile_menu, .bars, .mobile_button {
        display: none;
    }
}