.hero_wrapper {
    height: 500px;
    overflow: hidden;

    & .hero_container {
        max-width: 1170px;
        margin: 0 auto;
    }

    & .hero_con {
        margin-top: 115px;
        display: flex;
        justify-content: space-between;

        & .text_1, .text_3 {
            font-size: 32px;
        }
        & .text_2 {
            font-size: 60px;
            font-weight: bold;
            color: #0085ff;
            margin: 10px 0;
        }
        & .text_4 {
            font-size: 16px;
            margin-top: 25px;
        }

        & .social {
            margin-top: 25px;
            display: flex;
            list-style: none;

            & a {
                margin-right: 20px;
                & svg {
                    width: 32px;
                    height: 32px;
                    color: #000;
                }
            }
        }

        & .hero_img {
            margin-right: 120px;

            & img {
                width: 300px;
                height: 300px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .hero_wrapper {
        height: auto;

        & .hero_con {
            flex-direction: column;
            margin: 50px 0;
            padding: 0 40px;

            & .hero_img, & img{
                margin: 25px 0;
                width: 100%;
            }
        }
    }
}