.hero_wrapper {
    height: 500px;
    overflow: hidden;

    & .hero_container {
        max-width: 1170px;
        margin: 0 auto;
    }

    & .hero_con {
        margin-top: 115px;
        display: flex;
        justify-content: space-between;

        & .text_1, .text_3 {
            font-size: 32px;
        }
        & .text_2 {
            font-size: 60px;
            font-weight: bold;
            color: #0085ff;
            margin: 10px 0;
        }
        & .text_4 {
            font-size: 16px;
            margin-top: 25px;
        }

        & .social {
            margin-top: 25px;
            display: flex;
            list-style: none;

            & a {
                margin-right: 20px;
                & svg {
                    width: 32px;
                    height: 32px;
                    color: #000;
                }
            }
        }

        & .hero_img {
            width: 300px;
            height: 300px;
            border-radius: 100%;
            background-image: url('https://images.unsplash.com/photo-1573865526739-10659fec78a5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Y2F0fGVufDB8fDB8fHww');
            background-size: cover;
            background-position: center;
            margin-right: 120px;
        }
    }
}

@media screen and (max-width: 480px) {
    .hero_wrapper {
        height: auto;

        & .hero_con {
            flex-direction: column;
            margin: 50px 0;
            padding: 0 40px;

            & .hero_img {
                margin-top: 15px;
                width: 100%;
            }
        }
    }
}