.number_con {
    height: 300px;
    margin-top: 60px;
    background-color: #0085ff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    & .number_items {
        color: #fff;
        margin: 0 50px;

        & h3 {
            font-size: 48px;
            font-weight: bold;
        }
        & p {
            font-size: 24px;
            font-weight: bold;
            margin-top: 15px;
        }
    }
}

@media screen and (max-width: 480px) {
    .number_con {
        height: auto;
        flex-direction: column;
        padding: 50px 0;

        & p {
            margin-top: 5px !important;
            margin-bottom: 30px;
        }
    }
}